<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Second Website</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/default.css" />
    <link rel="stylesheet" href="/styles/secondwebsite/secondwebsite.css" />
    <link rel="stylesheet" href="/styles/secondwebsite/music.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <header>
      <div class="header-elements container">
        <div class="elements">
          <p><a href="#">Libero</a></p>
          <span>|</span>
          <p><a href="#">Maecenas</a></p>
          <span>|</span>
          <p><a href="#">Mauris</a></p>
          <span>|</span>
          <p><a href="#">Suspendise</a></p>
        </div>
      </div>
      <nav>
        <div class="logo-search container">
          <div class="logo">
            <a href="/index.html">
              <span>PhotoArt</span>
              <span>Free PSD Website Template</span>
            </a>
          </div>
          <div class="search">
            <input type="search" name="search" id="search" />
            <a href="#">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="search"
                class="svg-inline--fa fa-search fa-w-16"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="menu container">
          <ul>
            <li>
              <a href="/index.html">Homepage</a>
            </li>
            <li>
              <a href="/template/firstwebsite.html">Style Demo</a>
            </li>
            <li>
              <a href="/template/secondwebsite.html">Full Width</a>
            </li>
            <li>
              <a href="/template/thirdwebsite.html">Dropdown</a>
            </li>
            <li>
              <a href="/template/fourthwebsite.html">Gallery</a>
            </li>
            <li>
              <a href="/game/game.html">Asteroids</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="container">
      <section class="table1">
        <h1>Tabela e parë</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Code</th>
                <th>Company</th>
                <th>Price</th>
                <th>Change</th>
                <th>Change %</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td>AAC</td>
                <td>AUSTRALIAN COMPANY</td>
                <td>$1.38</td>
                <td>+2.01</td>
                <td>-0.36%</td>
              </tr>
              <tr>
                <td>AAD</td>
                <td>AUSENCO</td>
                <td>$2.38</td>
                <td>-0.01</td>
                <td>-1.36%</td>
              </tr>
              <tr>
                <td>AAX</td>
                <td>ADELAIDE</td>
                <td>$3.22</td>
                <td>+0.01</td>
                <td>+1.36%</td>
              </tr>
              <tr>
                <td>XXD</td>
                <td>ADITYA BIRLA</td>
                <td>$1.02</td>
                <td>-1.01</td>
                <td>+2.36%</td>
              </tr>
              <tr>
                <td>AAC</td>
                <td>AUSTRALIAN COMPANY</td>
                <td>$1.38</td>
                <td>+2.01</td>
                <td>-0.36%</td>
              </tr>
              <tr>
                <td>AAD</td>
                <td>AUSENCO</td>
                <td>$2.38</td>
                <td>-0.01</td>
                <td>-1.36%</td>
              </tr>
              <tr>
                <td>AAX</td>
                <td>ADELAIDE</td>
                <td>$3.22</td>
                <td>+0.01</td>
                <td>+1.36%</td>
              </tr>
              <tr>
                <td>XXD</td>
                <td>ADITYA BIRLA</td>
                <td>$1.02</td>
                <td>-1.01</td>
                <td>+2.36%</td>
              </tr>
              <tr>
                <td>AAC</td>
                <td>AUSTRALIAN COMPANY</td>
                <td>$1.38</td>
                <td>+2.01</td>
                <td>-0.36%</td>
              </tr>
              <tr>
                <td>AAD</td>
                <td>AUSENCO</td>
                <td>$2.38</td>
                <td>-0.01</td>
                <td>-1.36%</td>
              </tr>
              <tr>
                <td>AAX</td>
                <td>ADELAIDE</td>
                <td>$3.22</td>
                <td>+0.01</td>
                <td>+1.36%</td>
              </tr>
              <tr>
                <td>XXD</td>
                <td>ADITYA BIRLA</td>
                <td>$1.02</td>
                <td>-1.01</td>
                <td>+2.36%</td>
              </tr>
              <tr>
                <td>AAC</td>
                <td>AUSTRALIAN COMPANY</td>
                <td>$1.38</td>
                <td>+2.01</td>
                <td>-0.36%</td>
              </tr>
              <tr>
                <td>AAD</td>
                <td>AUSENCO</td>
                <td>$2.38</td>
                <td>-0.01</td>
                <td>-1.36%</td>
              </tr>
              <tr>
                <td>AAX</td>
                <td>ADELAIDE</td>
                <td>$3.22</td>
                <td>+0.01</td>
                <td>+1.36%</td>
              </tr>
              <tr>
                <td>XXD</td>
                <td>ADITYA BIRLA</td>
                <td>$1.02</td>
                <td>-1.01</td>
                <td>+2.36%</td>
              </tr>
              <tr>
                <td>AAC</td>
                <td>AUSTRALIAN COMPANY</td>
                <td>$1.38</td>
                <td>+2.01</td>
                <td>-0.36%</td>
              </tr>
              <tr>
                <td>AAD</td>
                <td>AUSENCO</td>
                <td>$2.38</td>
                <td>-0.01</td>
                <td>-1.36%</td>
              </tr>
              <tr>
                <td>AAX</td>
                <td>ADELAIDE</td>
                <td>$3.22</td>
                <td>+0.01</td>
                <td>+1.36%</td>
              </tr>
              <tr>
                <td>XXD</td>
                <td>ADITYA BIRLA</td>
                <td>$1.02</td>
                <td>-1.01</td>
                <td>+2.36%</td>
              </tr>
              <tr>
                <td>AAC</td>
                <td>AUSTRALIAN COMPANY</td>
                <td>$1.38</td>
                <td>+2.01</td>
                <td>-0.36%</td>
              </tr>
              <tr>
                <td>AAD</td>
                <td>AUSENCO</td>
                <td>$2.38</td>
                <td>-0.01</td>
                <td>-1.36%</td>
              </tr>
              <tr>
                <td>AAX</td>
                <td>ADELAIDE</td>
                <td>$3.22</td>
                <td>+0.01</td>
                <td>+1.36%</td>
              </tr>
              <tr>
                <td>XXD</td>
                <td>ADITYA BIRLA</td>
                <td>$1.02</td>
                <td>-1.01</td>
                <td>+2.36%</td>
              </tr>
              <tr>
                <td>AAC</td>
                <td>AUSTRALIAN COMPANY</td>
                <td>$1.38</td>
                <td>+2.01</td>
                <td>-0.36%</td>
              </tr>
              <tr>
                <td>AAD</td>
                <td>AUSENCO</td>
                <td>$2.38</td>
                <td>-0.01</td>
                <td>-1.36%</td>
              </tr>
              <tr>
                <td>AAX</td>
                <td>ADELAIDE</td>
                <td>$3.22</td>
                <td>+0.01</td>
                <td>+1.36%</td>
              </tr>
              <tr>
                <td>XXD</td>
                <td>ADITYA BIRLA</td>
                <td>$1.02</td>
                <td>-1.01</td>
                <td>+2.36%</td>
              </tr>
              <tr>
                <td>AAC</td>
                <td>AUSTRALIAN COMPANY</td>
                <td>$1.38</td>
                <td>+2.01</td>
                <td>-0.36%</td>
              </tr>
              <tr>
                <td>AAD</td>
                <td>AUSENCO</td>
                <td>$2.38</td>
                <td>-0.01</td>
                <td>-1.36%</td>
              </tr>
              <tr>
                <td>AAX</td>
                <td>ADELAIDE</td>
                <td>$3.22</td>
                <td>+0.01</td>
                <td>+1.36%</td>
              </tr>
              <tr>
                <td>XXD</td>
                <td>ADITYA BIRLA</td>
                <td>$1.02</td>
                <td>-1.01</td>
                <td>+2.36%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section class="table2">
        <h1>Tabela e dytë</h1>
        <table>
          <thead>
            <tr>
              <th>Column 1</th>
              <th>Column 2</th>
              <th>Column 3</th>
              <th>Column 4</th>
              <th>Column 5</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cell 1</td>
              <td>Cell 2</td>
              <td>Cell 3</td>
              <td>Cell 4</td>
              <td>Cell 5</td>
            </tr>
            <tr>
              <td>Cell 1</td>
              <td>Cell 2</td>
              <td>Cell 3</td>
              <td>Cell 4</td>
              <td>Cell 5</td>
            </tr>
            <tr>
              <td>Cell 1</td>
              <td>Cell 2</td>
              <td>Cell 3</td>
              <td>Cell 4</td>
              <td>Cell 5</td>
            </tr>
            <tr>
              <td>Cell 1</td>
              <td>Cell 2</td>
              <td>Cell 3</td>
              <td>Cell 4</td>
              <td>Cell 5</td>
            </tr>
            <tr>
              <td>Cell 1</td>
              <td>Cell 2</td>
              <td>Cell 3</td>
              <td>Cell 4</td>
              <td>Cell 5</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="board">
        <h1>Drag n Drop</h1>
        <div class="board-cards">
          <div
            class="column column-todo"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
          >
            <h2><abbr title="Abbr">Todo</abbr></h2>
            <article
              class="card"
              draggable="true"
              ondragstart="drag(event)"
              data-id="1"
            >
              <h3>
                <address>Todo #1</address>
              </h3>
            </article>
            <article
              class="card"
              draggable="true"
              ondragstart="drag(event)"
              data-id="2"
            >
              <h3>
                <address>Todo #1</address>
              </h3>
            </article>
            <article
              class="card"
              draggable="true"
              ondragstart="drag(event)"
              data-id="3"
            >
              <h3>
                <address>Todo #1</address>
              </h3>
            </article>
          </div>
          <div
            class="column column-ip"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
          >
            <h2><abbr title="Abbr">In Progress</abbr></h2>
            <article
              class="card"
              draggable="true"
              ondragstart="drag(event)"
              data-id="4"
            >
              <h3>IP #1</h3>
            </article>
            <article
              class="card"
              draggable="true"
              ondragstart="drag(event)"
              data-id="5"
            >
              <h3>IP #2</h3>
            </article>
            <article
              class="card"
              draggable="true"
              ondragstart="drag(event)"
              data-id="6"
            >
              <h3>IP #3</h3>
            </article>
          </div>
          <div
            class="column column-done"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
          >
            <h2><abbr title="Abbr">Done</abbr></h2>
            <article
              class="card"
              draggable="true"
              ondragstart="drag(event)"
              data-id="7"
            >
              <h3>Done #1</h3>
            </article>
            <article
              class="card"
              draggable="true"
              ondragstart="drag(event)"
              data-id="8"
            >
              <h3>Done #2</h3>
            </article>
            <article
              class="card"
              draggable="true"
              ondragstart="drag(event)"
              data-id="9"
            >
              <h3>Done #3</h3>
            </article>
          </div>
        </div>
      </section>
      <section class="lists">
        <div>
          <p>
            <em
              ><strong><mark>Ordered</mark> Lists</strong></em
            >
          </p>
          <ol>
            <li>Lista #1</li>
            <li>Lista #2</li>
            <li>Lista #3</li>
            <li>Lista #4</li>
            <li>Lista #5</li>
            <li>Lista #6</li>
          </ol>
        </div>
        <div>
          <p>
            <em
              ><strong><mark>Unordered</mark> List</strong></em
            >
          </p>
          <ul>
            <li>Lista #1</li>
            <li>Lista #2</li>
            <li>Lista #3</li>
            <li>Lista #4</li>
            <li>Lista #5</li>
            <li>Lista #6</li>
          </ul>
        </div>
        <div>
          <p>
            <em
              ><strong><mark>Nested</mark> List</strong></em
            >
          </p>
          <ul>
            <li>Lista #1</li>
            <li>Lista #2</li>
            <li>
              Lista #3
              <ul>
                <li>Lista #3.1</li>
                <li>
                  Lista #3.2
                  <ul>
                    <li>Lista #3.2.1</li>
                    <li>Lista #3.2.2</li>
                    <li>Lista #3.2.3</li>
                  </ul>
                </li>
                <li>Lista #3.3</li>
              </ul>
            </li>
            <li>Lista #5</li>
            <li>Lista #6</li>
          </ul>
        </div>
        <div>
          <p>
            <em
              ><strong><mark>Definition</mark> Lists</strong></em
            >
          </p>
          <dl>
            <dt>HTML</dt>
            <dd>is a markup language</dd>
            <dt>JavaScript</dt>
            <dd>is a scripting language</dd>
            <dt>CSS</dt>
            <dd>is used for styling</dd>
          </dl>
        </div>
      </section>
      <section class="music">
        <h1>Music Section</h1>
        <div class="image-container">
          <img
            id="cover"
            src="../styles/secondwebsite/img"
            alt="Music Cover"
            class="cover"
          />
        </div>
        <div class="music-container">
          <h4 class="music-info">Title</h4>
          <div>
            <span class="timer"></span>
            <div class="progress-container">
              <div class="progress"></div>
            </div>
            <span class="fullTime"></span>
          </div>
        </div>
        <audio src="./resources/music/torna%20a%20casa.mp3" id="audio"></audio>
        <div class="navigation">
          <button id="prev" class="action-btn">
            <i class="fas fa-backward"></i>
          </button>
          <button id="play" class="action-btn action-btn-big">
            <i class="fas fa-play"></i>
          </button>
          <button id="next" class="action-btn">
            <i class="fas fa-forward"></i>
          </button>
        </div>
      </section>
      <section class="reviews">
        <h1>Reviews</h1>
        <div class="review">
          <div class="review-author">
            <img
              src="https://image.freepik.com/free-photo/portrait-cheerful-attractive-young-woman-longsleeve-standing-with-arms-crossed-smiling_295783-39.jpg"
              alt=""
            />
          </div>
          <div class="review-content">
            <article>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione
              quos odit recusandae exercitationem, sit dolores dolore rerum
              provident sint, magni nihil eligendi totam, nemo modi a
              voluptates. Minima, fugit suscipit!
            </article>
            <p>Albinis Rudaku</p>
          </div>
        </div>
        <div class="review">
          <div class="review-content">
            <article>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione
              quos odit recusandae exercitationem, sit dolores dolore rerum
              provident sint, magni nihil eligendi totam, nemo modi a
              voluptates. Minima, fugit suscipit!
            </article>
            <p>Albinis Rudaku</p>
          </div>
          <div class="review-author">
            <img
              src="https://image.freepik.com/free-photo/portrait-cheerful-attractive-young-woman-longsleeve-standing-with-arms-crossed-smiling_295783-39.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="review">
          <div class="review-author">
            <img
              src="https://image.freepik.com/free-photo/portrait-cheerful-attractive-young-woman-longsleeve-standing-with-arms-crossed-smiling_295783-39.jpg"
              alt=""
            />
          </div>
          <div class="review-content">
            <article>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione
              quos odit recusandae exercitationem, sit dolores dolore rerum
              provident sint, magni nihil eligendi totam, nemo modi a
              voluptates. Minima, fugit suscipit!
            </article>
            <p>Albinis Rudaku</p>
          </div>
        </div>
        <div class="review">
          <div class="review-content">
            <article>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione
              quos odit recusandae exercitationem, sit dolores dolore rerum
              provident sint, magni nihil eligendi totam, nemo modi a
              voluptates. Minima, fugit suscipit!
            </article>
            <p>Albinis Rudaku</p>
          </div>
          <div class="review-author">
            <img
              src="https://image.freepik.com/free-photo/portrait-cheerful-attractive-young-woman-longsleeve-standing-with-arms-crossed-smiling_295783-39.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="review">
          <div class="review-author">
            <img
              src="https://image.freepik.com/free-photo/portrait-cheerful-attractive-young-woman-longsleeve-standing-with-arms-crossed-smiling_295783-39.jpg"
              alt=""
            />
          </div>
          <div class="review-content">
            <article>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione
              quos odit recusandae exercitationem, sit dolores dolore rerum
              provident sint, magni nihil eligendi totam, nemo modi a
              voluptates. Minima, fugit suscipit!
            </article>
            <p>Albinis Rudaku</p>
          </div>
        </div>
      </section>
    </section>

    <footer>
      <div class="footer-title">
        <h2>Find What You Want Fast</h2>
      </div>
      <section class="footer-body">
        <div class="footer-containers">
          <div class="blog-post footer-container">
            <h3 class="container-title">Latest From The Blog</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              <br />
              <em>Posted by admin on dd/mm/yyyy</em>
              <br />
              Accusantium ipsum sed quas, quod maiores impedit odio eum
              blanditiis ad minus! Dolorum, incidunt quidem blanditiis in et
              voluptatum corporis nulla dolore. Minus pariatur a aliquid
              asperiores, tempora illum perspiciatis sint quae saepe. Illo quos
              exercitationem fuga adipisci unde odio sed cum odit delectus.
              Eveniet, laborum modi cumque enim possimus ipsa odio.
            </p>
            <br />
            <a href="#" class="read-more">Read More >></a>
          </div>
          <div class="quick-links footer-container">
            <h3 class="container-title">Quick Links</h3>
            <a href="/template/firstwebsite.html" class="quick-link"
              >First Website</a
            >
            <hr />
            <a href="/template/secondwebsite.html" class="quick-link"
              >Second Website</a
            >
            <hr />
            <a href="/template/thirdwebsite.html" class="quick-link"
              >Third Website</a
            >
            <hr />
            <a href="/template/fourthwebsite.html" class="quick-link"
              >Fourth Website</a
            >
            <hr />
          </div>

          <div class="contact-details footer-container">
            <h3 class="container-title">Contact Us</h3>
            <em>Company Name</em>
            <p>
              Street Name and Number <br />
              Town name <br />
              Postcode and Zip <br />
            </p>
            <br />
            <em>Tel:</em>
            <p>xxxx xxxxxxx</p>
            <br />
            <em>Fax:</em>
            <p>xxxx xxxxxxx</p>
            <br />
            <em>Email:</em>
            <p>
              <a href="mailto:support@photoart.com" class="email"
                >support@photoart.com</a
              >
            </p>
          </div>

          <div class="social footer-container">
            <h3 class="container-title">Keep Up to Date</h3>
            <div class="social-link">
              <a href="https://www.facebook.com" target="_blank"
                ><img
                  src="/img/social-logos/facebook-logo-fill-svgrepo-com.svg"
                  alt=""
                  srcset=""
              /></a>
              <p>Facebook</p>
            </div>
            <hr />
            <div class="social-link">
              <a href="https://www.twitter.com" target="_blank"
                ><img
                  src="/img/social-logos/facebook-logo-fill-svgrepo-com.svg"
                  alt=""
                  srcset=""
              /></a>
              <p>Twitter</p>
            </div>
            <hr />
            <div class="social-link">
              <a href="https://www.instagram.com" target="_blank"
                ><img
                  src="/img/social-logos/facebook-logo-fill-svgrepo-com.svg"
                  alt=""
                  srcset=""
              /></a>
              <p>Instagram</p>
            </div>
            <hr />
            <div class="social-link">
              <a href="https://www.flickr.com" target="_blank"
                ><img
                  src="/img/social-logos/facebook-logo-fill-svgrepo-com.svg"
                  alt=""
                  srcset=""
              /></a>
              <p>Flickr</p>
            </div>
            <hr />
          </div>
        </div>
      </section>
      <div class="footer-copyright">
        <p class="copyright-text">
          Copyright © 2013 - All Rights Reserved - Domain Name
        </p>
      </div>
    </footer>

    <script src="../js/secondwebsite/drag-drop.js"></script>
    <script src="../js/secondwebsite/music.js"></script>
  </body>
</html>
