<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Third Website</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="stylesheet" href="/styles/thirdwebsite/thirdwebsite.css">
</head>

<body>
    <header>
        <div class="header-elements container">
            <div class="elements">
                <p><a href="#">Libero</a></p>
                <span>|</span>
                <p><a href="#">Maecenas</a></p>
                <span>|</span>
                <p><a href="#">Mauris</a></p>
                <span>|</span>
                <p><a href="#">Suspendise</a></p>
            </div>
        </div>
        <nav>
            <div class="logo-search container">
                <div class="logo">
                    <a href="/index.html">
                        <span>PhotoArt</span>
                        <span>Free PSD Website Template</span>
                    </a>
                </div>
                <div class="search">
                    <input type="search" name="search" id="search" />
                    <a href="#">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search"
                            class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="menu container">
                <ul>
                    <li>
                        <a href="#">Homepage</a>
                    </li>
                    <li>
                        <a href="#">Style Demo</a>
                    </li>
                    <li>
                        <a href="#">Full Width</a>
                    </li>
                    <li>
                        <a href="#">Dropdown</a>
                    </li>
                    <li>
                        <a href="#">Gallery</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">

    </main>

    <footer>
        <div class="footer-title">
            <h2>Find What You Want Fast</h2>
        </div>
        <section class="footer-body">
            <div class="footer-containers">
                <div class="blog-post footer-container">
                    <h3 class="container-title">Latest From The Blog</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        <br>
                        <em>Posted by admin on dd/mm/yyyy</em>
                        <br>
                        Accusantium ipsum sed quas, quod maiores impedit odio eum blanditiis ad minus! Dolorum, incidunt
                        quidem blanditiis in et voluptatum corporis nulla dolore.
                        Minus pariatur a aliquid asperiores, tempora illum perspiciatis sint quae saepe. Illo quos
                        exercitationem fuga adipisci unde odio sed cum odit delectus. Eveniet, laborum modi cumque enim
                        possimus ipsa odio.
                    </p>
                    <br>
                    <a href="#" class="read-more">Read More >></a>
                </div>
                <div class="quick-links footer-container">
                    <h3 class="container-title">Quick Links</h3>
                    <a href="/template/firstwebsite.html" class="quick-link">First Website</a>
                    <hr>
                    <a href="/template/secondwebsite.html" class="quick-link">Second Website</a>
                    <hr>
                    <a href="/template/thirdwebsite.html" class="quick-link">Third Website</a>
                    <hr>
                    <a href="/template/fourthwebsite.html" class="quick-link">Fourth Website</a>
                    <hr>
                </div>

                <div class="contact-details footer-container">
                    <h3 class="container-title">Contact Us</h3>
                    <em>Company Name</em>
                    <p>
                        Street Name and Number <br>
                        Town name <br>
                        Postcode and Zip <br>
                    </p>
                    <br>
                    <em>Tel:</em>
                    <p>xxxx xxxxxxx</p>
                    <br>
                    <em>Fax:</em>
                    <p>xxxx xxxxxxx</p>
                    <br>
                    <em>Email:</em>
                    <p><a href="mailto:support@photoart.com" class="email">support@photoart.com</a></p>
                </div>

                <div class="social footer-container">
                    <h3 class="container-title">Keep Up to Date</h3>
                    <div class="social-link">
                        <a href="https://www.facebook.com" target="_blank"><img
                                src="/img/social-logos/facebook-logo-fill-svgrepo-com.svg" alt="" srcset=""></a>
                        <p>Facebook</p>
                    </div>
                    <hr>
                    <div class="social-link">
                        <a href="https://www.twitter.com" target="_blank"><img
                                src="/img/social-logos/facebook-logo-fill-svgrepo-com.svg" alt="" srcset=""></a>
                        <p>Twitter</p>
                    </div>
                    <hr>
                    <div class="social-link">
                        <a href="https://www.instagram.com" target="_blank"><img
                                src="/img/social-logos/facebook-logo-fill-svgrepo-com.svg" alt="" srcset=""></a>
                        <p>Instagram</p>
                    </div>
                    <hr>
                    <div class="social-link">
                        <a href="https://www.flickr.com" target="_blank"><img
                                src="/img/social-logos/facebook-logo-fill-svgrepo-com.svg" alt="" srcset=""></a>
                        <p>Flickr</p>
                    </div>
                    <hr>
                </div>
            </div>
        </section>
        <div class="footer-copyright">
            <p class="copyright-text">Copyright © 2013 - All Rights Reserved - Domain Name</p>
        </div>
    </footer>
</body>

</html>