.table1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}
.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.table2 table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table2 th,
.table2 td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.table2 th {
  text-align: left;
}
.table2 thead th {
  background-color: #55608f;
}

.board {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.board-cards {
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
}

.card {
  background: #3f4447;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: pointer;
  width: 150px;
  height: 60px;
  cursor: grab;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card:active {
  cursor: grabbing;
}

.card.dragging {
  opacity: 0.5;
  transform: scale(0.8);
}

.column {
  padding: 10px;
  background: #2c2c2c;
  border: 2px solid #2c2c2c;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.column.column-todo h2 {
  background: #3498db;
}

.column.column-ip h2 {
  background: #f39c12;
}

.column.column-ip {
  margin: 0 20px;
}

.column.drop {
  border: 2px dashed #fff;
}

.column.drop article {
  pointer-events: none;
}

.board h3 {
  font-size: 21px;
  font-family: Helvetica;
  margin: 0;
}

.card:last-child {
  margin-bottom: 0;
}

.board h2 {
  background: green;
  margin: -10px -10px 10px;
  padding: 4px 10px;
  /* font-family: Helvetica; */
  font-size: 21px;
}
