main {
  padding-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 450px;
}

main .carusel {
  width: 100%;
  height: 100%;
  position: relative;
}

main .carusel .arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 125;
  padding-left: 30px;
}

main .carusel .arrows img {
  margin-top: 30px;
  cursor: pointer;
}

main .carusel .arrows .prev-btn {
  margin-right: 20px;
}

main .carusel .carusel-content {
  width: 100%;
  height: 450px;
  position: relative;
}

main .carusel .carusel-content .carusel-body {
  width: 100%;
  height: 100%;
  position: relative;
}

main .carusel .carusel-content .carusel-body img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main .carusel .carusel-content .carusel-body .carusel-info {
  position: absolute;
  z-index: 100;
  width: 300px;
  height: 450px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(12, 3, 2, 0.7);
  padding-left: 24px;
  padding-right: 24px;
}

main .carusel .carusel-content .carusel-body .carusel-info h2 {
  margin-top: 150px;
  font-size: 36px;
  color: #fff;
  text-align: left;
}

main .carusel .carusel-content .carusel-body .carusel-info a,
main .carusel .carusel-content .carusel-body .carusel-info p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  text-decoration: none;
}

main .carusel .carusel-content .carusel-body .carusel-info a {
  float: right;
}

.sm-photos {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  position: relative;
}

.sm-photos .sm-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 100%;
}

.sm-photos .sm-photo .title-photo {
  background-color: #141414;
  padding: 10px;
  padding-left: 15px;
  border-bottom: #707070 solid 1px;
}

.sm-photos .sm-photo .title-photo h2 {
  font-size: 22px;
  color: #999999;
}

.sm-photos .sm-photo .photo {
  width: 100%;
  height: 150px;
}

.sm-photos .sm-photo .photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sm-photos::after {
  position: absolute;
  content: "";
  left: 0;
  top: -40px;
  width: 100%;
  height: 10px;
  background-color: #111;
}

.carusel-info h2{
  font-size: 36px;
}

.carusel-info{
  font-size: 16px;
}

.carusel-info{
  text-align: justify;
}
/*# sourceMappingURL=style.css.map */