<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Photoart</title>
</head>
<body>
    <header>
        <div class="header-elements container">
            <div class="elements">
                <p><a href="#">Libero</a></p>
                <span>|</span>
                <p><a href="#">Maecenas</a></p>
                <span>|</span>
                <p><a href="#">Mauris</a></p>
                <span>|</span>
                <p><a href="#">Suspendise</a></p>
            </div>
        </div>
    </header>
    <script src="../js/ap.js"></script>
</body>
</html>